{% load static %}
{% block content %}
<header class="header_area">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a class="navbar-brand logo_h" href="#Home"><img src="{% static 'image/smart_bin.png' %}" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                <ul class="nav navbar-nav menu_nav ml-auto">
                    <li class="nav-item active"><a class="nav-link" href="{% url 'index' %}">Home</a></a></li> 
                    <li class="nav-item"><a class="nav-link"  href="#projects">Reuse</a></li>
                    <li class="nav-item"><a class="nav-link"  href="#projects">Recycle</a></li>
                    <li class="nav-item"><a class="nav-link"  href="#themes">Reduce</a></li>
                    <li class="nav-item"><a class="nav-link"  href="#contact">Recover</a></li>
                    <li class="nav-item"><a class="nav-link"  href="#contact">Dashboard</a></li>
                    <li class="nav-item"><a class="nav-link"  href="{% url 'login' %}">LOGOUT </a></li>
                </ul>
            </div> 
        </nav>
    </div>
</header>
{% endblock %}