
{% extends "myapp/base.html" %}
{% load static %}

<link rel="stylesheet" href="{% static "static/myproject/css/site.css" %}">
{% block content %}


{% if submitted %}
    <h3> You have sucessfully submitted the form </h3>
    <a href  ="{% url "add_product" %}">Add another product</a>
{%else%}
    <form action="" method=POST>
      {% csrf_token %}
      {{form.as_p}}
    
      <input type="submit" value="submit"></submit> 
    
    </form>
{% endif %}

{% endblock content %}