{% extends "base.html" %}
{% load static %}
{% block title %}Update Address{% endblock title %}

{% block main-content %}
<style>
.w3-button-color
{
  background-color: #2185e4;
  border: none;
  color: white;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
  float: left;
}
.w3-button
{
  background-color: rgba(250, 66, 66, 0.603);
  border: none;
  color: white;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  float: right;
  border-radius: 6px;
}
</style>
<div class="">
    <div class="">
        <h2> Welcome {{request.user}}</h2>
        <div class="">
            <form action="" method="POST">
                {% csrf_token %}
                {% for fm in form %}
                
                    {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
                    <br>
                    
                {% endfor %}
                <br><br>
                <div class="">
                    <button type="submit" class="w3-button-color">Update</button>
                    <a href="{% url 'address' %}" class="w3-button">Cancel</a>
                </div>
                <br>
                <br>
                {% if form.non_field_errors %}
                    {% for err in form.non_field_errors %}
                        <p>{{err}}</p>
                    {% endfor %}
                {% endif %}
                {% if messages %}
                
                    {% for msg in messages %}
                        {{msg}}
                    {% endfor %}
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock main-content %}

