{% extends "base_login.html" %}
{% load static %}
{% block title %}Change Password{% endblock title %}

{% block main-content %}
<div class="">
    <div class="">
            <div class="">
                <h1> password change </h1> 
                <hr>
                <form method="POST" action="" novalidate class="shadow p-5">
                    {% csrf_token %}
                    {% for fm in  form %}
                        {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
                        <br>
                     {% endfor %}
                        <button type="submit" class="btn btn-primary">Change Password</button>
                     {% if form.non_field_errors %}
                        {% for err in form.non_field_errors  %}
                            <p class="text-danger">{{err}}</p>
                        {% endfor %}
                     {% endif %}
                </form>
            </div>
    </div>
</div>

{% endblock main-content%}