{% extends "base.html" %}
{% load static %}
{% block title %}Details of the Product{% endblock title %}

{% block main-content %}

<div class="container my-5">
    <div class="row">
        <div class="col-sm-2">
            <img src="{{ product.product_image.url }}" class="img-fluid" alt="{{ product.name }}">
        </div>
        <div class="col-sm-8">
            <h2>{{ product.product_name }}</h2>
            <p>{{ product.product_description }}</p>
            <p>Category: {{ product.get_product_catagories_display }}</p>
            <p> Address : {{ product.product_address }}</p>
            {% comment %} <a href="{% url 'product:product-list' %}" class="btn btn-primary">Back</a> {% endcomment %}
            
        </div>
        <div class="col-sm-2">
            <div>
            <form action="/add-to-cart" class="d-inline">
                <input type="hidden" name="pro_id" value={{product.id}}/>
                <button type="submit" class="btn btn-primary shadow px-5 py-2">Add to cart </button>
            </form>
            </div>
            <br>
            <div>
            <a href="{% url "reuse"%}" class="btn btn-success px-5 py-2 pt-">Order Now</a>
            </div>
        </div>
    </div>
</div>

{% endblock main-content %}