{% extends "base.html" %}
{% load static %}
{% block title %}Reuse | Sharing is caring{% endblock title %}
{% block main-content %}

<div class="container-sm my-5">

    <div class="row">
        <div class="col-md-8 p-4">
            <h2 class="text-start text-success ">Reuse</h2>
            <h5 class="text-start">Reduce Watse and conserver resources by giving items second life</h5>
            <p> Reuse to Earns Reward points </p>
        </div>
        <div class="col-md-4 text-end p-5 ">
            <div>
                <a href="{% url "add_reuse_product"%}" class="btn"> Add Product </a>
            </div>
            <div>
                <span><a href="{% url "my_products"%}" class="btn "> My Reuse </a></span>
            </div>
        </div>
        </div>
    </div>
</div>

<!--
    Here we need to add search bar
    We need to add search bar to search the product
    should stick to the top of the page
-->

<div class="container pb-5">
        <form class="d-flex" method=POST action="{% url 'search_result'%}">
            {% csrf_token %}
            <input class="form-control me-2 border border-success" type="search" placeholder="Search" aria-label="Search"     name="searched">
            <button class="btn btn-outline-success"type="submit">Search</button>
        </form>
</div>

<!--
    Product Display Section
    1. Product Image
    2. Product Name
    3. Product Description
    4. Product Address

-->

<div class="container">
    <div class="row bg-light">
        {% if product %}
            {% for pro in product %}
        
            <div class="col-sm-4">
                <a href="{% url "details" pro.id %}" class="card-link">
                <img src="{{ pro.product_image.url }}" class="col-xs-6 col-sm-12 col-lg-12 mt-3 text-sm-center w-70 h-75" alt="product"> 
                </a>
            </div>
        
            <div class="col-sm-8">
                <a href="{% url "details" pro.id %}" style="text-decoration:none; color:black">
                <h3 style="font-family: Gorgia; font-size: 20px;"> Product Name: {{ pro.product_name }}</h3>
                <p> <span class="fw-" > Description:</span> <br> {{ pro.product_description }}</p>
                <p>Address: {{ pro.product_address }}</p>
                </a>
                <div class="row p-4">
                    <div class="col-md-8 text-end">
                        <form action="/add-to-cart" class="d-inline">
                            <input type="hidden" name="pro_id" value={{pro.id}}/>
                            <button type="submit" class="btn btn-primary shadow px-5 py-2">Add to cart </button>
                        </form>
                    </div>
                    <div class="col-md-4 text-start">
                        <a href="{% url "reuse"%}" class="btn btn-success px-5 py-2">Order Now</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% else %}
        <div class="col-md-8">
            <h3 class=" p-3">No Product Found </h3>
        </div>
        <div class="col-md-4 text-center p-3">
            <div>
                <span><a href="#" class="btn btn-primary"> Add Product </a></span>
            </div>
        </div>
        {% endif %}
    </div>
</div>


{% endblock main-content %}