{% extends "base.html" %}
{% load static %}
{% block title %}Recycle{% endblock title %}
{% block main-content %}

<style>
    .crd {
        padding: 20px;
        height: auto;
        overflow: hidden;
    }
    .card {
        border-radius: 10px;
        margin-bottom: 20px;
    }
    .card img {
        border-radius: 10px 10px 0 0;
        height: 50%;
        width: 50%;
    }
    body{
        background-color: #f8f9fa;
        background-image: linear-gradient(to bottom right,  #b7e4c7, #ffffff);
        background-repeat: no-repeat;
        background-size: contain;
    }
</style>



<div class="">
    <div class="">
        <div class="">
            <h2 class="text-start text-success display-5 ">Recycle</h2>
            <h5 class="text-start lead">Transforming your waste products into new items not only prevents them from contaminating the environment but also contributes to environmental conservation.</h5>
            <p> Recycle to Earns Reward points </p>
        </div>
    </div>
</div>


<div class="">
    <hr>
    <div class = "">
        <div class="">
            <div class="">
                <img src="{% static 'image/smart-bin.png' %}" class="card-img-top" alt="..." >
                <div class="card-body crd">
                    <h5 class="text-start"> Recycle</h5>
                    <p>Recycle your products in nearest smart bin ,For instructions how to use dustbin <a href="#"> click here </a></p>
                    <a href="#" class="btn btn-success">Browse locations</a>
                </div>
            </div>
        </div>

        <div class="">
            <div class="">
                <img src="{% static 'image/reuse.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="text-start"> Reuse </h5>
                    <p> Do you have items you do not use anymore? Do not watse it, share with who needs it. Promotes sustainability by sharing your items. </p>
                    <a href="{% url 'reuse' %}" class="btn btn-success">Reuse Products</a>
                </div>
            </div>
        </div>

        <div class="">
            <div class="">
                <img src="{% static 'image/innovate.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="text-start"> Innovate</h5>

                    <p>Turn waste into innovation. Each item is an opportunity for positive change as we lead in waste transformation." </p>
                    <a href="#" class="btn btn-success">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock main-content %}