{% extends "base.html" %}
{% load static %}

{% block title %}Recycle{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <h1 class="diaplay-4">Recycle</h1>
    <p class="lead"> Recycle is the process of converting waste materials into new materials and objects. It is an alternative to "conventional" waste disposal that can save material and help lower greenhouse gas emissions. Recycling can prevent the waste of potentially useful materials and reduce the consumption of fresh raw materials, thereby reducing: energy usage, air pollution (from incineration), and water pollution (from landfilling).</p>
<form action="" method=POST>
    {% csrf_token %}
    {% for fm in form %}
    {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
    <br>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>   
    {% if messages %}
    {% for msg in messages %}
    <div class="alert alert-{{msg.tags}}">
        {{msg}}
    </div>
    {% endfor %}
    {% endif %}
</form>
</div>
{% endblock main-content%}