{% extends "base.html" %}
{% load static %}
{% block title %}Update Address{% endblock title %}

{% block main-content %}

<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <form action="" method="POST" class="shadow p-5">
                {% csrf_token %}
                {% for fm in form %}
                    {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
                    <br>
                {% endfor %}
                <br>
                <div class="col-12 mt-3">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <a href="{% url 'address' %}" class="btn btn-secondary">Cancel</a>
                </div>
                {% if form.non_field_errors %}
                    {% for err in form.non_field_errors %}
                        <p>{{err}}</p>
                    {% endfor %}
                {% endif %}
                {% if messages %}
                
                    {% for msg in messages %}
                        {{msg}}
                    {% endfor %}
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock main-content %}

