{% extends "base.html" %}

{% load static %}

{% block title %}my product{% endblock %}

{% block main-content %}
<div class="container">
    
       <h2>My products </h2>
        {% if product %}
        <table class="table table-bordered">
            <thead>
                <tr style="background-color:green; text-color:white">
                    <th>Product Name</th>
                    <th>Product Price</th>
                    <th>Product Catagory</th>
                    <th>Product condition</th>
                    <th>Product details</th>
                    <th>Product update</th>
                    <th>Product delete</th>
                </tr>
            </thead>
            {% for items in product %}
            <tbody>
               <tr> 
               <td> {{items.product_name}} </td>
               <td> {{items.product_price}} </td>
               <td> {{items.get_product_catagories_display}} </td>
               <td> {{items.get_product_condition_display}} </td> 
               <td> <a href="{% url "details" items.id%}" class="btn "> Details </a> </td> 
               <td> <a href="{% url "update_my_products" items.id%}" class="btn "> Update </a></td> 
               <td> <a href="{% url "delete_my_products" items.id%}" class="btn "> Delete </a></td>    
                </tr>
            </tbody>
            {% endfor %}
        </table>
    {% else %}
    <h1>Product not found</h1>
    {% endif %}
</div>

{% endblock main-content %}