{% extends "base.html" %}
{% load static %}

{% block title %}Reduce{% endblock title %}

{% block main-content %}
<style>
    .card {
        border-radius: 10px;
        margin-bottom: 20px;
        transition: all 0.3s ease;
    }

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card img {
        border-radius: 10px 10px 0 0;
        height: 200px;
    }

    .crd {
        padding: 20px;
        height: 200px;
        overflow: hidden;
    }

    .card h5 {
        text-align: center;
    }

    .btn {
        padding: 6px 16px; /* Adjusted padding */
        font-size: 16px;
    }

    body {
        background-color: #f8f9fa;
        background-image: linear-gradient(to bottom right, #b7e4c7, #ffffff);
        background-repeat: no-repeat;
        background-size: contain;
    }
</style>

<div class="container-sm my-4">
    <div class="row">
        <div class="col-sm-12 p-4">
            <h2 class="text-start text-success display-5">Reduce</h2>
            <h5 class="text-start lead">Empowering Change: Reduce, Reuse, and Rethink for a Greener Future</h5>
            <p>Reduce to Earns Reward points</p>
        </div>
    </div>
</div>

<div class="container">
    <hr>
    <div class="row">
        <!-- Card 1 -->
        <div class="col-sm-3">
            <div class="card shadow">
                <img src="{% static 'image/taxi.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body crd">
                    <h5 class="text-start">Taxi Sharing | Trip sharing</h5>
                    <p>Reduce your carbon footprint by sharing a taxi with others.</p>
                    <a href="#" class="btn btn-success d-block mx-auto">Share Trips now</a>
                </div>
            </div>
        </div>
        <!-- Card 2 -->
        <div class="col-sm-3">
            <div class="card shadow">
                <img src="{% static 'image/download.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body crd">
                    <h5 class="text-start">Use Public Transport</h5>
                    <p>Reduce your carbon footprint by using public transport.</p>
                    <a href="#" class="btn btn-success d-block mx-auto">Bus schedules</a>
                </div>
            </div>
        </div>
        <!-- Card 3 -->
        <div class="col-sm-3">
            <div class="card shadow">
                <img src="{% static 'image/solar.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body crd">
                    <h5 class="text-start">Use Renewable Energy</h5>
                    <p>Reduce your carbon footprint by using renewable energy.</p>
                    <a href="#" class="btn btn-success d-block mx-auto">Learn More</a>
                </div>
            </div>
        </div>
        <!-- Card 4 -->
        <div class="col-sm-3">
            <div class="card shadow">
                <img src="{% static 'image/R.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body crd">
                    <h5 class="text-start">Protect and Restore Ecosystems</h5>
                    <p>Forests, wetlands, and other ecosystems play a crucial role in sequestering carbon dioxide from the atmosphere.</p>
                    <a href="#" class="btn btn-success d-block mx-auto">Drone for waste</a>
                </div>
            </div>
        </div>
    </div>

    <!-- This is the second row -->
    <div class="row">
        <!-- Card 5 -->
        <div class="col-sm-3">
            <div class="card shadow">
                <img src="{% static 'image/home.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body crd">
                    <h5 class="text-start">Energy Efficiency</h5>
                    <p>Improving energy efficiency in buildings, appliances, and industrial processes can reduce energy consumption and lower emissions.</p>
                    <a href="#" class="btn btn-success d-block mx-auto">Use smart Home</a>
                </div>
            </div>
        </div>
        <!-- Card 6 -->
        <div class="col-sm-3">
            <div class="card shadow">
                <img src="{% static 'image/educate.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body crd">
                    <h5 class="text-start">Educate and Raise Awareness</h5>
                    <p>Educating yourself and others about climate change and the actions that can be taken to reduce emissions is an important step.</p>
                    <a href="#" class="btn btn-success d-block mx-auto">Educate Now</a>
                </div>
            </div>
        </div>
        <!-- Card 7 -->
        <div class="col-sm-3">
            <div class="card shadow">
                <img src="{% static 'image/consump.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body crd">
                    <h5 class="text-start">Reduce Consumption and Waste</h5>
                    <p>Reducing consumption, reusing products, and recycling materials can lower emissions associated with production and disposal.</p>
                    <a href="#" class="btn btn-success d-block mx-auto">Learn More</a>
                </div>
            </div>
        </div>
        <!-- Card 8 -->
        <div class="col-sm-3">
            <div class="card shadow">
                <img src="{% static 'image/no.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body crd">
                    <h5 class="text-start">Support Climate Policies</h5>
                    <p>Individuals can advocate for and support policies at the local, national, and international levels to reduce greenhouse gas emissions.</p>
                    <a href="#" class="btn btn-success d-block mx-auto">Learn More</a>
                </div>
            </div>
        </div>
    </div>

    <!-- This is the third row -->
    <div class="row">
        <!-- Card 9 -->
        <div class="col-sm-3">
            <div class="card shadow">
                <img src="{% static 'image/reuse.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body crd">
                    <h5 class="text-start">Reuse</h5>
                    <p>Do you have items you do not use anymore? Do not waste it, share with who needs it. Promotes sustainability by sharing your items.</p>
                    <a href="#" class="btn btn-success d-block mx-auto">Reuse Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}
