{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{user.username |capfirst}} Dashboard</title>
	<link href="{% static 'css_dashboard/style.css' %}" rel="stylesheet">

</head>
<style>
	body{
		margin: 6%;
		margin-top: 0;
		margin-bottom: 0;
		width: auto;
		@media only screen and (min-width: 810px) {
			margin: 16%;
			margin-top: 16%;
			margin-bottom: 0;
		}
		@media only screen and (min-width: 910px) {
			margin: 20%;
			margin-top: 18%;
			margin-bottom: 0;
		}
		@media only screen and (min-width: 1200px) {
			margin: 25%;
			margin-top: 0;
			margin-bottom: 5%;
		}
	}
</style>
		<body>	
		
				
					
			<div class="card">
							
								<div class="card overflow-hidden">
						
										<div class="text-center">
											<div class="profile-photo">
												<img src="{% static 'img/man.png' %}" width="100"
													class="img-fluid rounded-circle" alt="">
											</div>
											<h3 class="mt-4 mb-1">{{user.username |capfirst}}</h3>	
											{% block main-content %} {% endblock %}
										</div>
								

		<div class="footer">
			<div class="copyright">
				<p>Copyright &copy;<b><script>document.write(new Date().getFullYear());</script> </b>All rights reserved.</p>
			</div>
		</div>
		<!--**********************************
            Footer end
        ***********************************-->
	</div>
	<!--**********************************
        Main wrapper end
    ***********************************-->




	<script src="{% static 'global/global.min.js' %}"></script>
	<script src="{% static 'bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
	<script src="{% static 'chart.js/Chart.bundle.min.js' %}"></script>

	<!-- Chart piety plugin files -->
	<script src="{% static 'peity/jquery.peity.min.js' %}"></script>

	<!-- Apex Chart -->
	<script src="{% static 'apexchart/apexchart.js' %}"></script>

	<!-- Dashboard 1 -->
	<script src="{% static 'js_dashboard/dashboard/dashboard-1.js' %}"></script>

	<script src="{% static 'js_dashboard/custom.min.js' %}"></script>
	<script src="{% static 'js_dashboard/deznav-init.js' %}"></script>
	<script src="{% static 'js_dashboard/demo.js' %}"></script>
	<script src="{% static 'js_dashboard/styleSwitcher.js' %}"></script>


</body>

</html>