{% extends "base.html" %}

{% load static %}

{% block title %}
Add Product
{% endblock title %}

{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <form method="post" action="" enctype="multipart/form-data" class="shadow p-5">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <button type="submit" class="btn btn-primary btn-block">Add Product</button>
                        </div>
                        <div class="col-xs-12 col-sm-6 mt-2 mt-sm-0">
                            <a href="{% url 'reuse' %}" class="btn btn-danger btn-block">Cancel</a>
                        </div>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</div>
{% endblock main-content %}