{% extends "base.html" %}
{% load static %}
{% block title %}Checkout{% endblock title %}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% block main-content %}
<style>
    #head{
        text-align: center;
    }
    #head2{
        text-align: center;
        float: center;
        margin-left: 40%;
        margin-right: 34%;
    }
    #point{
        margin-left: 4px;
    }
    #point2{
        margin-left: 20px;
    }
</style>
{% if messages %}
    <div class="alert alert-danger" role="alert">
        {% for msg in messages %}
            {{ msg }}
        {% endfor %}
    </div>
{% endif %}

<div class="row mt-md-5 justify-content-center">
    <div class="col-md-6 px-md-3">
        <h4 id = "head">Order Summary</h4>
        <hr>
        {% for item in cart_items %}
            <div id = "point" class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Product: {{ item.product.product_name }}</h5>
                    <p class="card-text">Quantity: {{ item.quantity }}</p>
                    <p class="card-text">Price: {{ item.product.product_price }}</p>
                </div>
            </div>
        {% endfor %}
        <p id = "point2" class="fw-bold">Total Cost + Shipping: {{ totalamount }}</p>
        <small id = "point2"><a href="#">Terms and Conditions:</a></small>
    </div>

    <div class="col-md-4 px-md-3">
        <h4 id = "head" >Shipping Address</h4>
        <hr>
        <form method="post" id="myform">
            {% csrf_token %}
            {% for ad in add %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ ad.name }}</h5>
                        <p class="card-text">Mobile: {{ ad.mobile }}</p>  
                        <p class="card-text">Address: {{ ad.locality }}, {{ ad.city }}, {{ ad.state }}, {{ ad.zipcode }}</p>
                    </div>
                </div>
                <div class="form-check mb-3">
                    <input type="radio" name="custid" value="{{ ad.id }}" class="form-check-input" id="custadd{{ forloop.counter }}">
                    <label class="form-check-label fw-bold" for="custadd{{ forloop.counter }}">Deliver to this Address {{ forloop.counter }}</label>
                </div>
            {% endfor %}
            <div class="form-check mb-3">
                <label for="totalamount" class="form-label">Total Amount:</label>
                <input type="number" class="form-control" name="totalamount" id="totalamount" value="{{ totalamount }}" readonly>
            </div>
            <div class="text-md-end">
                <button id = "head2" type="submit" class="btn btn-warning mt-3 px-md-5 fw-bold">Continue</button>
            </div>
        </form>
    </div>
</div>

{% endblock main-content %}
