{% extends "base.html" %}
{% load static %}
{% block title %}Information{% endblock title %}

{% block extra_css %}
<style>
    /* Reduce button size */
    .btn-lg {
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }

    /* Center input fields */
    .container {
        text-align: center;
    }
</style>
{% endblock extra_css %}

{% block main-content %}

<div class="container my-5">
    <div class="row justify-content-between">
        <div class="col-auto">
            <h3>{{ user.username | capfirst }} Welcome to your Dashboard</h3>
        </div>
        <div class="col-auto">
            <h3>Reward Points: 0</h3>
        </div>
    </div>
    <hr class="border border-danger border-3 opacity-50">
    <div class="row">
        <div class="col-sm-3">
            <ul class="list-group">
                <li class="list-group-item"><a href="{% url 'information' %}" class="btn btn-primary btn-block">Profile</a></li>
                <li class="list-group-item"><a href="{% url 'analytics' %}" class="btn btn-secondary btn-block">Analytics</a></li>
                <li class="list-group-item"><a href="{% url 'carbon' %}" class="btn btn-secondary btn-block">Carbon Footprint</a></li>
                <li class="list-group-item"><a href="{% url 'recycables' %}" class="btn btn-secondary btn-block">Pending Recycables</a></li>
                <li class="list-group-item"><a href="{% url 'cart' %}" class="btn btn-secondary btn-block">My Cart</a></li>
            </ul>
        </div>

        <div class="col-sm-9">
            {% if info %}
            {% for data in info %}
            <div class="container">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Profile</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>FULL NAME</td>
                            <td>{{ data.full_name | upper }}</td>
                        </tr>
                        <tr>
                            <td>CITY</td>
                            <td>{{ data.get_city_display | upper }}</td>
                        </tr>
                        <tr>
                            <td>PHONE</td>
                            <td>{{ data.phone | upper }}</td>
                        </tr>
                        <tr>
                            <td>EMAIL</td>
                            <td>{{ data.email }}</td>
                        </tr>
                        <tr>
                            <td>ADDRESS</td>
                            <td>{{ data.address | upper }}</td>
                        </tr>
                        <tr>
                            <td>DATE CREATED</td>
                            <td>{{ data.date_created }}</td>
                        </tr>
                        <tr>
                            <td>DATE UPDATED</td>
                            <td>{{ data.date_updated }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-6">
                        <a href="{% url 'update_profile' data.pk %}" class="btn btn-primary btn-md text-start">Update</a>
                    </div>
                    <div class="col-md-6">
                        <a href="{% url 'passwordchange' %}" class="btn btn-secondary text-end btn-md btn-danger">Change Password</a>
                    </div>
                </div>
            </div>
            
            {% endfor %}
            {% else %}
            <div class="row justify-content-between">
                <div class="col-auto">
                    <h5>No Profile Information Found</h5>
                    <a href="{% url 'create_profile' %}" class="btn btn-success">Create</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock main-content %}
