{% extends "base.html" %}
{% load static %}
{% block title %}Information{% endblock title %}

{% block extra_css %}
<style>
    /* Reduce button size */
    .btn-lg {
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }

    /* Center input fields */
    .container {
        text-align: center;
    }
</style>
{% endblock extra_css %}

{% block main-content %}

<div class="container my-2 bg-light rounded-end p-5">
    <div class="row justify-content-between shadow p-4 rounded-end">
        <div class="col-auto">
            <h4 class="display-7"> Welcome {{info.full_name}} to your Profile</h4>
        </div>
        <div class="col-auto">
            <h4>Reward Points:<span style="color:green"> {{total}} pts</small></h4>
        </div>
    </div>
    <hr class="border border-danger opacity-50">
    <div class="row shadow p-5 bg-light rounded-end my-3">
        <div class="col-sm-3">
            <ul class="list-group ">
                {% if info.profile_picture and info.profile_picture.url %}
                    <img src="{{info.profile_picture.url}}" alt="User" class="img-fluid " style="height: 100px; width: 100px; overflow: hidden; border-radius: 50%; margin: 0 auto; border: 1px solid #ccc; padding: 5px; background-color: #fff; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                {% endif %}
                <br><br>
                <li class="list-group-item"><a href="{% url 'information' %}" class="btn btn-primary btn-block">Profile</a></li>
                <!--
                <li class="list-group-item"><a href="{% url 'analytics' %}" class="btn btn-secondary btn-block">Analytics</a></li>
                <li class="list-group-item"><a href="{% url 'carbon' %}" class="btn btn-secondary btn-block">Carbon Footprint</a></li>
                <li class="list-group-item"><a href="{% url 'recycables' %}" class="btn btn-secondary btn-block">Pending Recycables</a></li>
                <li class="list-group-item"><a href="{% url 'cart' %}" class="btn btn-secondary btn-block">My Cart</a></li>
                -->
            </ul>
        </div>

        <div class="col-sm-9">
            {% if info %}
            <div class="container">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Profile</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>FULL NAME</td>
                            <td>{{ info.full_name | upper }}</td>
                        </tr>
                        <tr>
                            <td>CITY</td>
                            <td>{{ info.get_city_display | upper }}</td>
                        </tr>
                        <tr>
                            <td>PHONE</td>
                            <td>{{ info.phone | upper }}</td>
                        </tr>
                        <tr>
                            <td>EMAIL</td>
                            <td>{{ info.email }}</td>
                        </tr>
                        <tr>
                            <td>ADDRESS</td>
                            <td>{{ info.address | upper }}</td>
                        </tr>
                        <tr>
                            <td>DATE CREATED</td>
                            <td>{{ info.date_created }}</td>
                        </tr>
                        <tr>
                            <td>DATE UPDATED</td>
                            <td>{{ info.date_updated }}</td>
                        </tr>
                        <tr>
                            <td>USER CATAGORY</td>
                            <td>{{ info.get_user_type_display }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-6">
                        <a href="{% url 'update_profile' info.pk %}" class="btn btn-primary btn-md text-start">Update</a>
                    </div>
                    <div class="col-md-6">
                        <a href="{% url 'passwordchange' %}" class="btn btn-secondary text-end btn-md btn-danger">Change Password</a>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="row justify-content-between">
                <div class="col-auto">
                    <h5>No Profile Information Found</h5>
                    <a href="{% url 'create_profile' %}" class="btn btn-success">Create</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock main-content %}
