{% extends "base.html" %}
{% load static %}
{% block title %}Change Password{% endblock title %}

{% block extra_css %}
<style>
    .my-form {
        max-width: 400px; /* Set max-width to adjust form size */
        margin: 0 auto; /* Center the form horizontally */
    }
</style>
{% endblock extra_css %}

{% block main-content %}
<div class="container my-5">
    <div class="row justify-content-center my-3">
        <div class="col-sm-8">
            <h1>Password Change</h1> 
            <hr>
            <form method="POST" action="" novalidate class="shadow p-4 my-form">
                {% csrf_token %}
                {% for fm in form %}
                    {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
                    <br>
                {% endfor %}
                <button type="submit" class="btn btn-primary btn-block">Change Password</button>
                {% if form.non_field_errors %}
                    {% for err in form.non_field_errors %}
                        <p class="text-danger">{{err}}</p>
                    {% endfor %}
                {% endif %}
            </form>
        </div>
    </div>
</div>

{% endblock main-content%}
