{% extends "myapp/base.html" %}

{% block content %}

<div class="container text-center ">
    <div class="row">
        <div class="col">
            <h3> pending Products to be Recycled</h3>
            {% if product %}
            <ol> 
                {% for items in product  %}
                    <li>{{items.product_name}} </li>
                {% endfor %}
            </ol>
            {% else %}
                <p> No products to be recycled </p>
            {% endif %}
        </div>
        <div class="col">
            <h3> Collects or Resuse your products</h3>
            <h4> <a href="{% url "reuse" %}"> reuse  </a> </h4>
        </div>
        <div class="col">
            <h4> Create Product </h4>
            <a href="{% url "add_product" %}"> Add Product </a>
        </div>
    </div>  
    <div class="row">
        <div class="col">
            <h3> Your Carbon foot print</h3>
            <p> Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

            </p>
        </div>
</div>                
</div>
    
{% endblock content %}