{% extends "base.html" %}
{% load static %}
{% block title %}Changed Password Successfully{% endblock title %}

{% block main-content %}
<style>
    modi{
        text-align: left;
        margin-bottom: 0;
    }

</style>
<div class="">
    <div class="">
        </div>
            <div class="">
                <form method="POST" action="" novalidate class="modi">
                    {% csrf_token %}
                    {% for fm in  form %}
                        <br>
                        {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
                        <br>
                     {% endfor %}
                     <br>
                        <button type="submit" class="btn btn-primary">Change Password</button>
                     {% if form.non_field_errors %}
                        {% for err in form.non_field_errors  %}
                            <p class="text-danger">{{err}}</p>
                        {% endfor %}
                     {% endif %}
                </form>
            </div>
    </div>
</div>

{% endblock main-content %}