{% extends "base.html" %}
{% load static %}
{% block title %}Change Password{% endblock title %}

{% block main-content %}
<style>
    style_btn{
        text-align: center;
        padding: 10px;
        float: center;
    }
</style>
<div class="">
    <div class="">
        <h1 style="text-align: center;"> Welcome {{request.user|capfirst}} </h1> 
        <div class="">
            <ul class="list-unstyled">
                <li class="style_btn"><a href="{% url 'information' %}" class="btn btn-success">Profile</a></li>
             </ul>
        </div>
            <div style="text-align: center">
                <h3>Password change Successful</h3>
                <div>
                    <iframe src="" width="200" height="200" frameBorder="0" class="giphy-embed" allowfullscreen></iframe>
                </div>
            </div>
    </div>        
</div>
{% endblock main-content%}