{% extends "base.html" %}
{% load static %}
{% block title %}recover{% endblock title %}

{% block main-content %}
<style>
    .card {
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .card img {
        border-radius: 10px 10px 0 0;
        height: 40%;
    }
    .crd {
        padding: 20px;
        height: 4%;
        overflow: hidden;
    }
    .card h5 {
        text-align: center;
    }
    body{
        background-color: #f8f9fa;
        background-image: linear-gradient(to bottom right,  #b7e4c7, #ffffff);
        background-repeat: no-repeat;
        background-size: contain;

    }
    .badge2{
        background-color: green;
        height: 100vh;
        width: 50px;
        {% comment %} border-radius: 50%; {% endcomment %}
        position: absolute;
        top: 0;
        left: -1;
        writing-mode: vertical-rl; 
    }
</style>
{% comment %} <div class="badge2"> {% endcomment %}
    {% comment %} <h1>Reduce</h1> {% endcomment %}
{% comment %} </div> {% endcomment %}
<div class="">
    <div class="">
        <div class="">
            <h2 style="text-align: center">Recover</h2>
            <h5 class="text-start lead">Recover emphasizes the extraction of value from waste that cannot be directly reused or recycled. This process involves various methods aimed at diverting waste from landfills and harnessing its potential for further use or energy generation.</h5>
            <p> Recover to Earns Reward points </p>
            <!--<p> Reducing climate change requires a combination of individual actions, policy changes, technological advancements, and global cooperation. Here are some key steps that can be taken:</p>-->
        </div>
    </div>
</div>
<div class="">
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <div class="card shadow h-20">
                <img src="{% static 'image/compost-waste.jpeg' %}" class="card-img-top" alt="..." >
                <div class="card-body crd">
                    <h5 class="text-start"> Waste Composting </h5>
                    <p>Organic waste, such as food scraps and yard trimmings, can be composted to create nutrient-rich soil amendments </p>
                    <a href="#" class="btn btn-success">Learn more</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card shadow">
                <img src="{% static 'image/pyrolysis.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body crd">
                    <h5 class="text-start"> Waste-to-Energy </h5>
                    <p>Non-recyclable and non-compostable items, can be converted into energy through waste-to-energy technologies Eg Pyrolysis and Gastification. </p>
                    <a href="#" class="btn btn-success">Lear More</a>  
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card shadow h-20">
                <img src="{% static 'image/biological.jpeg' %}" class="card-img-top" alt="..." >
                <div class="card-body crd">
                    <h5 class="text-start"> Biological Recovery </h5>
                    <p> wastewater and organic matter, can undergo biological treatment processes to produce biogas or biofuels. Anaerobic digestion to produce methane-rich biogas </p>
                    <a href="#" class="btn btn-success">Learn More </a>
                </div>
            </div>
        </div>

    </div>

<!--This is the second row-->
    <div class="row">
        <div class="col-sm-4">
            <div class="card shadow">
                <img src="{% static 'image/recycle-recover.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body crd">
                    <h5 class="text-start"> Search | Find | Recycle </h5>
                    <p> Search for recyclables, earn prizes, and collect reward points for your eco-friendly efforts. Join us in today.</p>
                    <a href="#" class="btn btn-success">Join Now</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card shadow">
                <img src="{% static 'image/educate-reovery.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body crd">
                    <h5 class="text-start"> Educate  </h5>
                    <p> Educating on recovery and emission reduction is vital. Let's act for a sustainable future and a healthier planet. Join us!.</p>
                    <a href="#" class="btn btn-success">Educate Now</a>
                </div>
            </div>
            
        </div>
        <div class="col-sm-4">
            <div class="card shadow">
                <img src="{% static 'image/reuse.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body crd">
                    <h5 class="text-start"> Reuse </h5>
                    <p> Do you have items you do not use anymore? Do not watse it, share with who needs it. Promotes sustainability by sharing your items. </p>
                    <a href="#" class="btn btn-success">Reuse Now</a>
                </div>
            </div>
        </div>
<!--This is the third row
        <div class="row">
            <div class="col-sm-4">
                <div class="card shadow h-20">
                    <img src="{% static 'image/consump.jpeg' %}" class="card-img-top" alt="..." >
                    <div class="card-body crd">
                        <h5 class="text-start"> Reduce Consumption and Waste</h5>
                        <p> Reducing consumption, reusing products, and recycling materials can lower emissions associated with production and disposal </p>
                        <a href="#" class="btn btn-success">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card shadow">
                    <img src="{% static 'image/no.jpeg' %}" class="card-img-top" alt="...">
                    <div class="card-body crd">
                        <h5 class="text-start"> Support Climate Policies </h5>
                        <p> Individuals can advocate for and support policies at the local, national, and international levels  to reduce greenhouse gas emissions.</p>
                        <a href="#" class="btn btn-success">Learn More</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card shadow">
                    <img src="{% static 'image/reuse.jpeg' %}" class="card-img-top" alt="...">
                    <div class="card-body crd">
                        <h5 class="text-start"> Reuse </h5>
                        <p> Do you have items you do not use anymore? Do not watse it, share with who needs it. Promotes sustainability by sharing your items. </p>
                        <a href="#" class="btn btn-success">Reuse Now</a>
                    </div>
                </div>
            </div>
        </div>-->
        
    </div>
</div>
{% endblock main-content %}