{% extends "base.html" %}
{% load static %}
{% block title %}Reuse | Sharing is caring{% endblock title %}
{% block main-content %}
<style>
    .pos3 {
        text-align: center;
        font-style: inherit;
    }
    .pos4 {
        text-align: center;
        font-style: inherit;
    }
    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    .card-text {
        font-size: 0.9rem;
        margin-bottom: 1rem;
    }
    .card-buttons .btn {
        font-size: 0.8rem;
        padding: 0.25rem 0.5rem;
    }
</style>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4 >Reuse</h4>
            <p class="pos4">Reduce Waste and conserve resources by giving items a second life</p>
            <p>Reuse to Earn Reward points</p>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-4 text-end p-5">
            <div class="btn-group" role="group" aria-label="Button group">
                <a href="{% url 'add_reuse_product' %}" class="btn btn-primary">Add Product</a>
                <a href="{% url 'my_products' %}" class="btn btn-primary">My Reuse</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form class="d-flex" method="POST" action="{% url 'search_result'%}">
                {% csrf_token %}
                <input class="form-control me-2 border border-success" type="search" placeholder="Search" aria-label="Search" name="searched">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        {% if product %}
            {% for pro in product %}
                <div class="col-md-6">
                    <div class="card mb-3">
                        <a href="{% url 'details' pro.id %}">
                            <img src="{{ pro.product_image.url }}" class="card-img-top" alt="product"> 
                        </a>
                        <div class="card-body">
                            <a href="{% url 'details' pro.id %}">
                                <h3 class="card-title">Product Name: {{ pro.product_name }}</h3>
                                <p class="card-text">Description: {{ pro.product_description }}</p>
                                <p class="card-text">Address: {{ pro.product_address }}</p>
                            </a>
                            <div class="d-flex justify-content-between align-items-end">
                                <form action="/add-to-cart" class="d-inline">
                                    <input type="hidden" name="pro_id" value="{{ pro.id }}">
                                    <button type="submit" class="btn btn-primary">Add to cart</button>
                                </form>
                                <a href="{% url 'reuse' %}" class="btn btn-success">Order Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-md-12">
                <h3>No Product Found</h3>
                <a href="#" class="btn btn-primary">Add Product</a>
            </div>
        {% endif %}
    </div>
</div>

{% endblock main-content %}
